
button {
    padding: 5px 15px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.d-flex {
    display: flex;
}

img{
    margin-right: 15px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 5px;
}